:root {
    --accent-light: var(--gray-500);
    --accent-regular: var(--gray-500);
    --accent-dark: var(--gray-500);
    --accent-overlay: var(--gray-500);
    --accent-subtle-overlay: var(--gray-500);
    --accent-text-over: var(--gray-500);

    --link-color: var(#7611a6);
}

:root.theme-dark {
    --accent-light: var(--gray-500);
    --accent-regular: var(--gray-500);
    --accent-dark: var(--gray-500);
    --accent-overlay: var(--gray-500);
    --accent-subtle-overlay: var(--gray-500);
    --accent-text-over: var(--gray-500);

    --link-color: var(--accent-regular);
}

:root {
    --_placeholder-bg: linear-gradient(transparent, transparent);
    --bg-image-main: url("/assets/backgrounds/bg-grey-light.jpg");
    --bg-image-main-curves: url("/assets/backgrounds/bg-grey-light.jpg");
    --bg-image-subtle-1: var(--_placeholder-bg);
    --bg-image-subtle-2: var(--_placeholder-bg);
    --bg-image-footer: var(--_placeholder-bg);
    --bg-svg-blend-mode: overlay;
    --bg-blend-mode: darken;
    --bg-image-aspect-ratio: 2.25;
    --bg-scale: 1.68;
    --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
    --bg-gradient-size: calc(var(--bg-scale) * 100%);
}

:root.theme-dark {
    --bg-image-main: url("/assets/backgrounds/bg-grey-dark.jpg");
    --bg-image-main-curves: url("/assets/backgrounds/bg-grey-dark.jpg");
    --bg-svg-blend-mode: darken;
    --bg-blend-mode: lighten;
}

:root.loaded {
    --bg-image-subtle-1: url("/assets/backgrounds/bg-grey-light.jpg");
    --bg-image-subtle-2: url("/assets/backgrounds/bg-grey-light.jpg");
    --bg-image-footer: url("/assets/backgrounds/bg-grey-light.jpg");
}
:root.loaded.theme-dark {
    --bg-image-subtle-1: url("/assets/backgrounds/bg-grey-dark.jpg");
    --bg-image-subtle-2: url("/assets/backgrounds/bg-grey-dark.jpg");
    --bg-image-footer: url("/assets/backgrounds/bg-grey-dark.jpg");
}

@media (min-width: 50em) {
    :root {
        --bg-scale: 1;
        --bg-image-main: url("/assets/backgrounds/bg-grey-light.jpg");
    }
    :root.theme-dark {
        --bg-image-main: url("/assets/backgrounds/bg-grey-dark.jpg");
    }

    :root.loaded {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-grey-light.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-grey-light.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-grey-light.jpg");
    }
    :root.loaded.theme-dark {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-grey-dark.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-grey-dark.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-grey-dark.jpg");
    }
}
