---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CallToAction from "../components/CallToAction.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
    <Hero title="Page Not Found" tagline="You're lost, my fren." />
    <br />
    <div style="width: fit-content; align-self: center;">
        <CallToAction href="/">
            Restart from here
        </CallToAction>
    </div>
</BaseLayout>
