---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactMe from '../components/ContactMe.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Kingsley | About" description="About Kingsley">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Me at work"
					aria-todo="Update image"
				/>
			</Hero>

			<section aria-todo="Update About">
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi, my name is Kingsley Oyelabi working out of the deep Atlantic Ocean.
						<a href="https://www.google.com/search?q=atlantic+ocean&udm=2">Here</a> are pictures 
						in case you've not seen an ocean before.
						I am a software engineer with a passion for building scalable and reliable software
						systems. These days, I find I enjoy distributed systems and so I've been reading a lot
						of topics in the literature.
					</p>
					<br />
					<p>
						But my varied interests do you little good. What you probably want to know is that I
						am a software engineer with over 2 years of industry experience. And an insanely good
						one at that. I have worked with a variety of technologies and languages, from
						JavaScript to Python, and from React to Django. I have also worked with a variety of
						tools and platforms, from AWS to Heroku, and from Docker to Kubernetes.
						I'm awesome, and that's just a fact.
					</p>
					<br />
					<p>
						What else? Tons of stuff. No, I'm not going to tell you. You can text me if you want to
						know.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> Computer Engineering @ Obafemi Awolowo University.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Programming and Surgebinding</p>
				</div>
			</section>
		</main>

		<ContactMe />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
