---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactMe from "../components/ContactMe.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

import { projects } from "../components/projects";
---

<BaseLayout
    title="Kingsley | Projects"
    description="See Kingsley's most recent projects"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Recent Projects"
                tagline="See my most recent projects below to get an idea of my past experience."
                align="start"
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
            <div>
                <a href="/old/projects"> See my older projects </a>
            </div>
        </main>
        <ContactMe />
    </div>
</BaseLayout>
