---
import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/Icon.astro";

import { links } from "../components/config";
---

<BaseLayout title="Resume" description="My resume">
    <div class="pdf-container">
        <div id="pdf-header">
            <h1>My Resume</h1>
            <br />
            <div>
                <a class="download-resume" download href={links.resume_file}>
                    Download
                    <Icon icon="download" size="1.2em" />
                </a>
            </div>
            <br />
        </div>
        <object data={links.resume_file} type="application/pdf">
            <div>
                Your browser couldn't load the PDF.
                <div style="display: none;" id="redirect-text">
                    Redirecting you to the file...
                    <br />
                    <br />
                    <br />
                </div>
                <a class="download-resume" download href={links.resume_file}>
                    Download
                </a>
            </div>
        </object>
    </div>
</BaseLayout>

<style>
    .pdf-container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }
    object {
        width: 100%;
        height: 100vh;
    }
    #pdf-header {
        display: none;
        margin-bottom: 10px;
    }

    a.download-resume {
        position: relative;
        display: flex;
        place-content: center;
        text-align: center;
        padding: 0.56em 2em;
        gap: 0.8em;
        color: var(--accent-text-over);
        text-decoration: none;
        line-height: 1.1;
        border-radius: 999rem;
        overflow: hidden;
        background: var(--gradient-accent-orange);
        box-shadow: var(--shadow-md);
        white-space: nowrap;
    }
    @media (min-width: 20em) {
        a.download-resume {
            font-size: var(--text-lg);
        }
    }

    /* Overlay for hover effects. */
    a.download-resume::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        transition: background-color var(--theme-transition);
        mix-blend-mode: overlay;
    }

    a.download-resume:focus::after,
    a.download-resume:hover::after {
        background-color: hsla(var(--gray-999-basis), 0.3);
    }

    @media (min-width: 50em) {
        a.download-resume {
            padding: 1.125rem 2.5rem;
            font-size: var(--text-xl);
        }
    }
</style>

<script>
    import { links } from "../components/links";

    function show_pdf_header() {
        let pdf_header = document.getElementById("pdf-header");
        if (pdf_header) {
            pdf_header.style.display = "block";
        }
    }

    let obj = document.querySelector("object");
    if (!obj) {
        console.error("Couldn't find the object element.");
        throw new Error("Couldn't find the object element.");
    }

    obj.addEventListener("load", show_pdf_header);

    let loadTimeout: ReturnType<typeof setTimeout>;

    function handleLoad() {
        clearTimeout(loadTimeout);
        console.log("Object loaded successfully.");
    }

    function handleError() {
        clearTimeout(loadTimeout);
        console.error("Failed to load the object.");
        let redirectText = document.querySelector("#redirect-text");
        if (redirectText) {
            // @ts-ignore
            redirectText.style.display = "block";
        }

        setTimeout(function () {
            window.location.href = links.resume_file;
        }, 3000);
    }

    obj?.addEventListener("load", handleLoad);

    loadTimeout = setTimeout(handleError, 2000);
</script>
