---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactMe from "../components/ContactMe.astro";
import Hero from "../components/Hero.astro";
import WorkCard from "../components/WorkCard.astro";
import { type WorkEntry } from "../components/work_entry";

const all_work: { data: WorkEntry; id: string }[] = (
    await getCollection("work")
).sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout title="Kingsley | Work" description="Kingsley's recent employment">
    <div class="stack gap-20">
        <main class="wrapper stack gap-15">
            <Hero
                title="Work"
                tagline="A selection of my recent work experiences."
                align="start"
            />
            {all_work.map((w) => <WorkCard work={w.data} animate />)}
            <div>
                <a href="/old/work"> See my older work experiences </a>
            </div>
        </main>
        <ContactMe />
    </div>
</BaseLayout>
