---
import "../styles/call_to_action.css";

interface Props {
    href: string;
    target?: string;
}

const { href, target = "_self" } = Astro.props;
---

<a href={href} target={target} class="call-to-action">
    <slot />
</a>
