---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();

import "../styles/footer.css";

import { footer_copyright, links } from "../config";
---

<footer>
    <div class="group">
        <p>&copy; {currentYear} {footer_copyright}</p>
        <p>
            with Astro
            <Icon icon="rocket-launch" size="1.2em" />
        </p>
    </div>
    <p class="socials">
        <a href={links.github}> GitHub</a>
        <a href={links.stack_overflow}> Stack Overflow </a>
    </p>
</footer>
