---
interface Props {
    text: string;
    below?: boolean;
}

const { text, below = false } = Astro.props;
---

<div class="icon-container">
    <i class="icon">
        <slot />
    </i>
    {!below && <span class="tooltip above">{text}</span>}
    {below && <span class="tooltip below">{text}</span>}
</div>

<style>
    .icon-container {
        position: relative;
        display: inline-block;
    }

    .tooltip {
        visibility: hidden;
        width: 120px;
        color: var(--accent-text-over);
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: var(--text-sm);
    }

    .tooltip.above {
        bottom: 125%;
    }

    .tooltip.below {
        top: 125%;
    }

    .tooltip::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
    }

    .tooltip.above::after {
        top: 100%;
        border-color: black transparent transparent transparent;
    }

    .tooltip.below::after {
        bottom: 100%;
        border-color: transparent transparent black transparent;
    }

    .icon-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
</style>
