---
interface Props {
    text: string;
}

const { text } = Astro.props;

export const icon_to_hover_text = {
    distributed: "Distributed Systems",
    "open-source": "Open Source",
    featured: "Featured",
    python: "Python",
    live: "Live",
    chatbot: "Chatbot",
    cpp: "C++",
};
---

<div class="icon-container">
    <i class="icon">
        <slot />
    </i>
    <span class="tooltip">{text}</span>
</div>

<style>
    .icon-container {
        position: relative;
        display: inline-block;
    }

    .tooltip {
        visibility: hidden;
        width: 120px;
        color: var(--accent-text-over);
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: var(--text-sm);
    }

    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    .icon-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
</style>
