---
import GenericLink from "./GenericLink.astro";
import HoverText from "./HoverText.astro";

interface Props {
    href: string;
}

const { href } = Astro.props;
---

<div style="color: var(--accent-text-over); opacity: 0.2;">|</div>
<HoverText text="Go to Source">
    <GenericLink
        href={href}
        target="_blank"
        external={true}
        style="font-size: var(--text-md);"
    >
        Source
    </GenericLink>
</HoverText>
